---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <!-- <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a> -->
      <!-- if statement looks for post.external-url in YAML header and if it exists creates a link post, else a regular post -->
      {% if post.external-url %}
        <a href="{{ post.external-url }}">
          {{ post.title }}
        </a>
        &nbsp;&nbsp;
        <a href="{{ site.baseurl }}{{ post.url }}">
          ⚗
        </a>
      {% else %}
        <a href="{{ post.url }}">
          {{ post.title }}
        </a>
      {% endif %}
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    <!-- to create shortened posts on main page -->
    {% if post.content contains '<!--more-->' %}
      {{ post.content | split:'<!--more-->' | first }}
      <em><a href="{{ post.url }}">…read more</a></em>
    {% else %}
      {{ post.content }}
    {% endif %}
    

  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

