{% comment %}
  menu code from nateharada.com
{% endcomment %}
<div class="menu" id="menu">
  <nav class="menu-nav container">
    <a class="menu-nav-item" href="{{ baseurl }}/about/">About</a>   
    <a class="menu-nav-item" href="{{ baseurl }}/archive/">Archive</a>
    <a class="menu-nav-item" href="{{ baseurl }}/teaching/">Teaching</a>
    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    
    {% assign pages_list = site.pages | sort:"name" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="menu-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}
    {% endcomment %}

  {% comment %}
    <a class="menu-nav-item" href="{{ site.author.url }}">Portfolio</a>
  {% endcomment %}
  <a class="menu-nav-item" href="http://www.joshuabeatty.info/atom.xml">Feed</a>
  {% comment %}
    Problems getting social media icons to work
    <a class="menu-icon twitter-icon" href="{{ site.author.twitter }}"></a>
    <a class="menu-icon github-icon" href="{{ site.author.github }}"></a>
  {% endcomment %}
  </nav>
</div>