---
layout: default
---

{% include coins.html %}

<div class="post">
  <h1 class="post-title">
    {% if page.external-url %}
      <a href="{{ page.external-url }}">
        {{ page.title }}
      </a> →
    {% else %}
      {{ page.title }}
    {% endif %}
  </h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}           
  <div class="source">
    
    <!--
    Source: 
    <a class="source-link" href="{{ page.path | remove: '/Users/dansheffler/Dropbox/dansheffler.com/' | prepend: 'https://raw.githubusercontent.com/dansheffler/dansheffler.com/master/' }}">
        md
    </a>
    |
    -->
    
    Permalink: <a class="permalink" href="{{ site.baseurl }}{{ post.url }}">html</a>
  </div>
</div>


<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
